h1 Welcome
p Boys online #{Boy.online.count}
p Girls online #{Girl.online.count}
a= link_to 'Sign in as boy', new_boy_session_path
a= link_to 'Sign up as boy', new_boy_registration_path
a= link_to 'Sign in as girl', new_girl_session_path
a= link_to 'Sign up as girl', new_girl_registration_path
