h1 Rules
p On our site you can not:
p 1). Use any form of obscene words and expressions, including replacement, substitution, skipping letters, etc .; to post information of vulgar or obscene nature, containing pornographic images and texts or scenes of a sexual nature; information containing scenes of cruelty or violence, or inhuman treatment of animals, descriptions of means and methods of suicide, information that constitutes incitement to commit suicide; information that violates the rights of minors;
p 2). Insult someone, go to the discussion of the person instead of discussing a position or opinion; distribute threats, discredit information, discredit honor and dignity or business reputation or violate the privacy of other users or third parties.
p 3). To incite national, religious or any other discord, to propagate fascism or the ideology of racial superiority; place extremist materials; propagate criminal activities or post advice, instructions or guidelines for the commission of criminal acts; place fraudulent information; to post information of limited access, including, but not limited to, state and commercial secrets, information on the privacy of third parties;
p 4). Spam, advertise anything, "flood".
p Have a nice chat....
