body {
	background: #D4493E url('bg-red.png') repeat 50% -25%;
}

::-moz-selection {
	color: #FFF;
	background: #D4493E;
}
::selection {
	color: #FFF;
	background: #D4493E;
}

#page {
	background: #D4493E;
	border: 3px solid rgba(255, 255, 255, 0.5);
}
#header p strong {
	color: #D4493E;
}
#header h2 {
	color: rgba(255, 255, 255, 0.7);
}
#footer {
	color: rgba(255, 255, 255, 0.8);
}
#footer a, #footer a:visited {
	color: inherit;
}

#side {
	border-left: 2px solid rgba(255, 255, 255, 0.5);
}
#nickname::after {
	background: -webkit-linear-gradient(left, rgba(212, 73, 62, 0) 0%, rgba(212, 73, 62, 1) 100%);
	background: linear-gradient(to right, rgba(212, 73, 62, 0) 0%, rgba(212, 73, 62, 1) 100%);
}
.menu-header {
	color: #D4493E;
}
.contact-invite-button {
	color: #D4493E;
}
.contact-item.blocked .online-indicator,
.contact-item.not-accepted .online-indicator {
	background: #B4D6A7;
}
#log ol .invite .button-flat {
	color: #D4493E;
}
.contact-item .unread-badge {
	background: #D4493E;
}
.contact-item .online-indicator {
	background: #8AC176;
}
.field-bar {
	background: #D4493E;
}
.field-wrap input:focus ~ .field-label {
	color: #D4493E;
}
.signin-button {
	background: rgba(212, 73, 62, 0.9);
}
.signin-button:hover {
	background: rgba(212, 73, 62, 0.85);
}
.validate .field-wrap input:invalid {
	background: rgba(212, 73, 62, 0.1);
}
#title {
	color: #FFF;
}
#desc {
	color: rgba(255, 255, 255, 0.75);
}
#online {
	color: rgba(255, 255, 255, 0.9);
}
#online-count {
	color: #D4493E;
}
#friend-online-indicator {
	background: #8AC176;
}
#controls {
	border: 2px solid rgba(255, 255, 255, 0.5);
    border-top: none;
}
.but-chat-start {
	background: rgba(212, 73, 62, 0.85);
}
.but-chat-start:hover {
	background: rgba(212, 73, 62, 0.75);
}
#log ol > li.unread .time::before {
	background: rgba(212, 73, 62, 0.75);
}
.img-loading {
	color: #D4493E;
}
#controls {
	background: #D4493E;
}
.switch.switch-dark.on i {
	background: rgba(212, 73, 62, 0.325);
}
.switch.switch-light i::after {
	background: #D65248;
}
.switch.switch-dark.on i::after {
	background: #DD6C64;
}
.switch.switch-light.on i::after {
	background: #F6D8D6;
}
.switch-label:not(.disabled) .switch.switch-dark.on i:active::after {
	box-shadow: 0 0 0 12px rgba(212, 73, 62, 0.1);
}

#push-offer-enable {
	background: rgba(212, 73, 62, 0.9);
}
#push-offer-enable:hover {
	background: rgba(212, 73, 62, 0.85);
}

.modal-buttons {
	color: #D4493E;
}

#side-toggle {
	top: 29px;
	background: #D4493E;
	border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: none;
	
}
body.start-page #side-toggle {
	top: 19px;
}
body.start-page #side-toggle.side-shown::after {
	background: #D4493E;
}

@media (min-width: 1368px) {
	
	#side {
		border: none;
		background: none;
	}
	#current-user {
		background: none;
	}
	
}