/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body { 
background: url('/assets/header.jpg') no-repeat center center fixed; 
background-size: cover;
}

.container { 
  margin-top: 0px;
  color:#f05f40;
  font-size: 15px;
  font-style: italic;
  #border: 1px solid green;
  font-family: 'Times New Roman', Times, serif;
}

p.alert {
  padding: 0px;
}

.btn-group {
  margin: 5px 5px 5px 5px;
}

.btn.btn-danger a {
  color:#ffffff;
  font-size: 20px;
  text-shadow: 3px 2px 2px grey;
}

h1 {
  color:#ffffff;
  font-size: 80px;
  font-family: italic;
  text-shadow: 3px 2px 2px grey;
}

.quote {
  color:#E1E0DF;
  font-size: 25px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px 45px 25px 45px;
}

hr {
  max-width: 750px;
  border-width: 2px;
}

hr.bottom {
  max-width: 250px;
  border-width: 2px;
}

input[type="file"] {
  margin-left: 482px;
}

img {
  width: 230px;
  height: 230px;
  border-radius: 12px; //rounding of corners (general)
  -webkit-border-radius: 12px; //rounding of corners (Google Chrome)
  -moz-border-radius: 12px; //rounding of corners (FireFox)
  -khtml-border-radius: 12px; //rounding of corners (Safari)
}

.edit_avatar {
  margin-bottom: 35px;
}

.remove_avatar_buttom {
  margin-right: 780px;
}
                                  //Scrollbar//
::-webkit-scrollbar {
      width: 15px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: #6b6c882e;
      border-radius: 12px;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-track:horizontal {
   background-color: transparent;
 }

::-webkit-scrollbar-thumb {
      background-color: #6b6c885e;
      border-radius: 12px;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-corner {
      background-color: transparent;
      border:0px;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.navbar-fixed-top {
  height: 10px;
}