/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body { 
background: url('/assets/header.jpg') no-repeat center center fixed; 
background-size: cover;
}

.container { 
  margin-top: 12px;
  color:#f05f40;
  font-size: 15px;
  font-style: italic;
  #border: 1px solid green;
  font-family: 'Times New Roman', Times, serif;
}

.btn-group {
  margin: 5px 5px 5px 5px;
}

h1 {
  color:#ffffff;
  font-size: 80px;
  font-family: italic;
  text-shadow: 3px 2px 2px grey;
}

.quote {
  color:#E1E0DF;
  font-size: 25px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px 45px 25px 45px;
}

hr {
  max-width: 750px;
  border-width: 2px;
}

hr.bottom {
  max-width: 250px;
  border-width: 2px;
}

input[type="file"] {
  margin-left: 482px;
}

img {
  width: 230px;
  height: 230px;
}

.edit_avatar {
  margin-bottom: 35px;
}

.remove_avatar_buttom {
  margin-right: 780px;
}
