// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer {
  #border: 1px solid blue;
}

ol.chat {
  #border: 1px solid white;
  width: 60%;
  padding-right: 4%;
  margin-bottom: 40px;
  border-top: 3px inset #6b6c884e;
  border-bottom: 3px inset #6b6c884e;
  border-radius: 12px;
}

.messages {
  word-wrap: break-word;
  text-align: left;
  height: 420px;
  overflow: auto;
}

#chat {
  display: flex;           /* establish flex container */
  flex-direction: row;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: flex-start;     /* center items horizontally, in this case */
  #border: 1px solid black;
  padding-top: 10px;
}

.box {
  border: 10px ridge #6b6c842e;
  border-radius: 12px;
  width: 250px;
  height: 410px;
  margin: 5px;
  text-align: center;     /* will center text in <p>, which is not a flex item */
}

.box_show {
  #border: 2px solid green;
  display: flex;           /* establish flex container */
}

.box_show_other_data {
  #border: 10px ridge #6b6c842e;
  border-radius: 12px;
  width: 300px;
  height: 500px;
  margin: 5px;
  .search {
  }
  .online {
    margin-top: 90px;
  }
}

.box_show_user_data {
  border: 10px ridge #6b6c842e;
  border-radius: 12px;
  width: 250px;
  height: 500px;
  margin: 5px;
  text-align: center;     /* will center text in <p>, which is not a flex item */
  .box_user_data {
    height: 248px;
  }
}

.messages_text, {
  background-color: #6b6c886e;
  padding: .2em .6em .3em;
  font-weight: bold;
  color: #fff;
  border-radius: 12px;
  margin: 5px 15px 5px 15px;
}

.messages p {
  background-color: #6b6c886e;
  padding: .2em .6em .3em;
  font-weight: bold;
  color: #fff;
}


input.textarea {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 30px;
  z-index: 99;
  background: #fff;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 80px;
  color: black;
  font-weight: 400;
  border-radius: 30px; //rounding of corners (general)
  -webkit-border-radius: 30px; //rounding of corners (Google Chrome)
  -moz-border-radius: 30px; //rounding of corners (FireFox)
  -khtml-border-radius: 30px; //rounding of corners (Safari)
  }

  .send_message {
  color:black;
  border: 1px solid rgba(0,0,0,0.5);
  border-bottom: 3px solid rgba(0,0,0,0.5);
  border-radius: 3px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 31px;
  width: 100px;
  z-index: 99;
  padding: 0 9px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
    inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
    inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
    inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
    inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
}

.box img {
  width: 220px;
  height: 220px;
}

H1#conversation {
  font-size: 40px;
}

.box_user_data {
  background-color: #33367d52;
  #background-color: #6b6c882e;
  text-shadow: 3px 3px 2px black;
  height:168px;
  margin: 2px 1px 0px 1px;
  .intro {
    color: #fff;
    padding-top:6px;
    text-align: center;
    text-shadow: 3px 3px 2px black;
    padding: 3px 2px 1px 2px;
  }
  .box_user_data_girl_block {
    text-shadow: 1px 1px 0px #000000c9;;
    color: #e45c3e;;
  }
}